.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .formContainer {
    z-index: 0;
    width: 70%;
    position: relative;
    overflow: hidden;
    margin: 0 auto 2rem auto;
    border-radius: 12px;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      margin-bottom: 2rem;
      text-transform: capitalize;
    }
    form {
      margin: auto;
      display: flex;
      flex-direction: column;
      width: 50%;
      label {
        text-transform: capitalize;
        font-size: 1.2rem;
      }
      input,
      textarea {
        padding: 0.5rem 1rem;
        border: 2px solid #ccc;
        outline: none;
        border-radius: 3px;
        margin: 0.5rem 0 2rem 0;
        &:focus {
          border: 2px solid var(--tertiary);
        }
      }
      textarea {
        resize: none;
        height: 6rem;
        &::-webkit-scrollbar {
          width: 8px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #ccc;
        }
      }
    }
    .rateSelector {
      margin-bottom: 2rem;
      i {
        cursor: pointer;
      }
    }
    button {
      width: fit-content;
      padding: 0.5rem 2rem;
      background-color: var(--tertiary);
      border: none;
      margin-left: auto;
      border-radius: 3rem;
      color: var(--primary);
      cursor: pointer;
      &:hover {
        filter: brightness(1.3);
      }
      &:active {
        transform: translateY(4px);
      }
    }
  }
}
.coffeeImage {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  left: -10%;
  top: 90%;
  transform: rotate(15deg);
  width: 100%;
  img {
    height: 70vh;
  }
}
