.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: var(--primary);
  a {
    text-decoration: none;
    color: var(--primary);
    h1 {
      margin: 4rem 0;
      font-size: 1.8rem;
      text-transform: uppercase;
      img {
        margin-left: 1rem;
        height: 2rem;
      }
    }
  }
  ul {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    li,
    a {
      width: 6rem;
      list-style: none;
      text-align: center;
      text-transform: uppercase;
    }
    div a {
      font-weight: 700;
      padding-left: 2rem;
      border-left: 1px solid var(--primary);
    }
    a {
      transition: all 0.3s;
      &:before {
        width: 5rem;
        height: 2px;
        color: var(--tertiary);
      }
      &:hover {
        color: var(--tertiary);
        transform: scale(1);
      }
      &:hover::before {
        width: 5rem;
      }
    }
  }
  .burger {
    display: none;
  }
  .activeLink {
    color: var(--tertiary);
    border-bottom: var(--tertiary) 1px solid;
  }
}

main {
  width: 100%;
}
