.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: var(--primary);
  h1 {
    margin: 4rem 0;
    font-size: 1.8rem;
    text-transform: uppercase;
    img {
      margin-left: 1rem;
      height: 2rem;
    }
  }
  ul {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    li,
    a {
      width: 8rem;
      list-style: none;
      text-align: center;
      text-transform: uppercase;
    }
    a {
      color: var(--primary);
      font-weight: 700;
    }
  }
  .burger {
    display: none;
  }
}
main {
  width: 100%;
}
