.reviewBack {
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.7);
  position: fixed;
  bottom: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s;
  z-index: 3;
}

.reviewContainer {
  width: 100%;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
}

.close {
  display: none;
  margin: 2rem 3rem 0rem auto;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 0.5rem;
  background-color: #f9f9f9;
  cursor: pointer;
  i {
    display: flex;
  }
}

.coffeInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0rem 2rem 0 0;
  div {
    align-items: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      font-size: 1.5rem;
    }
  }
  a {
    display: flex;
    padding: 0.3rem 0.7rem;
    background-color: rgba($color: #f9f9f9, $alpha: 0.9);
    border-radius: 3rem;
    color: #121212;
    text-decoration: none;
    font-size: 0.8rem;
    transition: background-color 0.3s;
    i {
      margin-left: 0.5rem;
      display: flex;
      filter: invert(1);
      img {
        height: 1.2rem;
      }
    }
    &:hover {
      color: var(--primary);
      background-color: var(--tertiary);
      i {
        filter: invert(0);
      }
    }
  }
  h2 {
    text-transform: capitalize;
    font-size: 1.5rem;
    text-align: center;
  }
}

.reviews {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-height: 90%;
  overflow: hidden auto;
  padding-top: 2rem;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #ccc;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .reviewInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin-bottom: 2rem;
    text-align: center;
    padding: 2rem;
    border-radius: 12px;
    background-color: rgba($color: #f9f9f9, $alpha: 0.9);
    box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.1);
    .review {
      padding: 0 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      p {
        font-style: italic;
        font-size: 0.9rem;
        text-align: left;
      }
    }
    .userData {
      display: flex;
      flex-direction: column;
      width: 50%;
      justify-content: center;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          padding: 1.5rem;
          border-radius: 50%;
          background-color: red;
          margin: 0.5rem;
        }
        span {
          padding: 1rem 0;
          font-weight: 700;
          font-size: 1rem;
        }
      }
      span {
        font-size: 0.8rem;
      }
    }
    .rateInfo {
      display: flex;
      margin-bottom: 1rem;
      div {
        display: flex;
        &:nth-child(1) {
          padding-right: 2rem;
        }
        strong {
          font-size: 1rem;
          color: #121212;
        }
        span {
          font-size: 0.8rem;
          color: #777;
        }
        i {
          margin-top: auto;
          margin-right: 0.2rem;
        }
      }
    }
  }
}
