.headBackground {
  background-color: rgba($color: #000000, $alpha: 0.8);
  background-image: url("../../../assets/images/leftCoffe.jpg");
  background-size: cover;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  filter: brightness(0.3);
  &::after {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.presentation {
  color: var(--primary);
  height: calc(100vh - 6.8rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div {
    border: 1px solid var(--primary);
    padding: 3rem 7rem;
    margin-bottom: 5rem;
    text-align: center;
    h2 {
      text-transform: uppercase;
      padding-bottom: 2rem;
      font-size: 1.5rem;
    }
    span {
      font-size: 1.2rem;
      strong {
        text-decoration: underline;
      }
    }
  }
}

.reviews {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
