.headBackground {
  background: var(--primary);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  & :nth-child(1) {
    position: absolute;
    transform: rotate(-25deg);
    height: 35vh;
    top: 20%;
    left: 5%;
  }
  & :nth-child(2) {
    height: 50vh;
    position: absolute;
    bottom: -20%;
    left: 65%;
    transform: rotate(180deg);
  }
}

.presentation {
  color: var(--primary);
  height: calc(70vh - 8.5rem);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .presentationBack {
    border-radius: 12px;
    padding: 3rem 10rem;
    text-align: center;
    h2 {
      text-transform: capitalize;
      padding-bottom: 2rem;
      font-size: 1.2rem;
      color: #121212;
    }
    span {
      font-size: 1.2rem;
      strong {
        text-decoration: underline;
      }
    }
    form {
      display: flex;
      input {
        box-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.1);
        width: 100%;
        padding: 0.2rem 1rem;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        outline: none;
        border: 2px solid transparent;
        &:focus {
          border: 2px solid var(--tertiary);
        }
      }
      button {
        outline: none;
        border: none;
        background-color: transparent;
        i {
          box-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.1);
          border-top-right-radius: 2rem;
          border-bottom-right-radius: 2rem;
          display: flex;
          background-color: var(--tertiary);
          padding: 0 0.5rem;
          height: 100%;
          cursor: pointer;
          img {
            width: 1.8rem;
          }
        }
      }
    }
  }
}

.reviews {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4rem;
}
