.headerImage {
  position: absolute;
  width: 100%;
  height: 9.8rem;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #121212;
}

.about {
  width: 100%;
  height: calc(100vh - 11.8rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div {
    width: 50%;
    text-align: center;
    h4 {
      padding: 2rem 0;
      font-size: 2rem;
      border-bottom: 2px solid var(--tertiary);
      border-left: 2px solid var(--tertiary);
      border-right: 2px solid var(--tertiary);
      border-radius: 0 0 12px 12px;
      box-shadow: 0 12px 12px rgba($color: #000000, $alpha: 0.2);
    }
    p {
      padding: 2rem;
      font-size: 1.3rem;
    }
  }
  .content {
    height: 70%;
    .name {
      font-weight: 700;
    }
    .underline {
      color: var(--tertiary);
    }
  }
  .aboutImage {
    background-image: url("./../../../assets/images/coffee-and-laptop.jpg");
    height: 30%;
    background-position: 0% 60%;
    background-size: cover;
    border-radius: 12px 12px 0 0;
  }
}
