:root {
  --primary: #ffefcf;
  --secondary: #864000;
  --tertiary: #d44000;
  --quaternary: #ff7a00;
  --high: #33691e;
  --medium: #f57f17;
  --low: #b71c1c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(192, 192, 192, 0.7);
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bona Nova", serif;
}

p,
span,
a,
input {
  font-family: "Monda", sans-serif;
}
